@model InlandMarina.Models.Lease

@{
    ViewData["Title"] = "Create";
}

<h1>@User.Identity.Name please confirm your lease</h1>

<h4>Lease</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               <input asp-for="SlipID" type="hidden" value="@ViewBag.SlipId"/>
            </div>
            <div class="form-group">
                <input asp-for="CustomerID" type="hidden" value="@ViewBag.CustomerId" />
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Slips" asp-action="AuthorizedView">Cancel</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
